<div id="map"></div>
	
	
<div class="overlay info">
	<div class="wrapper">
		
		<h1>We Are Here Now</h1>
		<h2>Live NYC</h2>
		
		<div id="content">3 wolf moon thundercats veniam, next level dolor freegan 8-bit. Ethnic seitan whatever, cillum bicycle rights brunch banjo neutra ad craft beer ethical consectetur. Vegan meggings consequat anim fap adipisicing. Sunt duis cardigan Austin
		</div>
		
		<div id="footer">
		Last updated <b id="minSinceUpdate">###</b> min. ago
		</div>
		
	</div>
</div> 
	
	
<script>
        //initiate leaflet map
      var map = new L.Map('map', { 
        center: [40.7542, -73.9600],
        zoom: 11
      })

      L.tileLayer('http://{s}.tiles.mapbox.com/v2/sw2279.NYCLotto/{z}/{x}/{y}.png', {
        attribution: 'MapBox'
      }).addTo(map);
  
  
      
  	  $.getJSON('/api/venues.json', function(data) {

        for (var i in data) {
        		var latlng = new L.LatLng(data[i].lat,data[i].lng);
		        var marker = new L.CircleMarker(latlng, {
		        		title: data[i].name,
		        		radius: calcRadius(data[i].herenow),
		        		opacity: 0.8,
		        		fillOpacity:0.7,
		        		weight: 0,
		        		fillColor: catCol(data[i].category)
		        	});
		        	
		        	marker.name = data[i].name;
		        	marker.herenow = data[i].herenow;
		        	marker.category = fullCat(data[i].category);
		        	
		        	marker.on('mouseover', function(evt) {
					  //evt.target is the marker that is being moused over 
					  console.log(evt.target);
					  evt.target.options.fillColor="#FFFFFF"; 
					  evt.target.bindPopup("<b>Name</b>: " + evt.target.options.title + "<br><b>Category</b>: " + evt.target.category + "<br><B>Here Now</b>: " + evt.target.herenow).openPopup();
					});
					
		        	marker.on('mouseleave', function(evt) {
					  //evt.target is the marker that is being moused over 
					  //bindPopup() does not need to be called here if it was already called
					  //somewhere else for this marker.
					  console.log("mouse left");
					  //evt.target
					});

		        marker.addTo(map);
        }

  	  });
  	  
  	  $(".leaflet-clickble").addClass("live-marker");
      
  var catCol = function(val){ 
	  if (val == "arts_entertainment") return "#1BDDE0";
	  if (val == "education") return "#ED9261";
	  if (val == "food") return "#EDDD61";
	  if (val == "building") return "#9DAEB3";
	  if (val == "nightlife") return "#7F4CED";
	  if (val == "residences") return "#ED5C4C";
	  if (val == "parks_outdoors") return "#48DB5C";
	  if (val == "shops") return "#ED6195";
	  if (val == "travel") return "#6182ED";
	  return "#7A8787";
  }
  
  var fullCat = function(val) { 
	  if (val == "arts_entertainment") return "Arts & Entertainment";
	  if (val == "education") return "Education";
	  if (val == "food") return "Food";
	  if (val == "building") return "Building";
	  if (val == "nightlife") return "Nightlife";
	  if (val == "residences") return "Residencies";
	  if (val == "parks_outdoors") return "Park & Outdoors";
	  if (val == "shops") return "Shops";
	  if (val == "travel") return "Travel";
	  return "";
  }
  
  var calcRadius = function(val){ 
  	if (val < 10) return val *3; 
  	if (val < 50) return val; 
  	if (val < 100) return val / 2; 
  	if (val < 150) return val / 2.5; 
  	return 30;
  } 
      
      $('.button').click(function(){
		  $('.button').removeClass('selected');
		  $(this).addClass('selected');	
		  LayerActions[$(this).attr('id')]();
		});
		
</script>
